html,
body {
    background: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    // background-image: url('../assets/img/logo.svg');
}

@media (min-width: 1320px) {
    .container {
        max-width: 1315px;
    }
}

.position-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border-radius: 0;
    font-family: 'DIN Condensed';
    letter-spacing: 0.15em;
    font-weight: bold;
    font-size: 22px;
    line-height: 135%;
    text-transform: uppercase;
    padding: 19px 50px;

    @media(max-width: $small-devices) {
        max-width: 100%;
    }
}

.btn-success {
    color: #fff;
    background-color: $theme-color;
    border-color: $theme-color;

    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        color: #fff;
        background-color: desaturate($theme-color, 10%);
        border-color: desaturate($theme-color, 10%);
    }

    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus {
        box-shadow: 0 0 0 0.2rem rgba(desaturate($theme-color, 10%), 0.5);
    }
}

.btn-dark {
    color: #fff;
    background-color: #000;
    border-color: #000;

    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        color: #fff;
        background-color: desaturate(#000, 10%);
        border-color: desaturate(#000, 10%);
    }

    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus {
        // box-shadow: 0 0 0 0.2rem rgba(desaturate(#000, 10%), 0.5); 
    }
}

.sec-title,
.block-title {
    font-family: 'DIN Condensed';
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.font-size-60 {
    font-size: 60px;
    line-height: 130%;
}

.font-size-75 {
    font-size: 75px;
    line-height: 110%;

    @media(max-width: 1319px) {
        font-size: 65px;
    }

    @media(max-width: $large-devices) {
        font-size: 60px;
    }

    @media(max-width: $small-devices) {
        font-size: 39px;
    }
}


p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.03em;

    @media(max-width: $large-devices) {
        font-size: 16px;
    }
}

.theme-color {
    color: $theme-color;
}

.theme-bg-color {
    background-color: $theme-color;
}

.bg-gradient-blue-gray {
    background: linear-gradient(to right, $blue 50%, $gray 50%);
}

.bg-gradient-gray-yellow {
    background: linear-gradient(to right, $gray 50%, $yellow 50%);
}

.bg-gradient-gray-blue {
    background: linear-gradient(to right, $gray 50%, $blue 50%);
}

.bg-gradient-gray-green {
    background: linear-gradient(to right, $gray 50%, $green 50%);
}

.bg-gradient-gray-purple {
    background: linear-gradient(to right, $gray 50%, $purple 50%);
}

.bg-gray {
    background-color: $gray;
}

.page--heading {
    padding: 100px 0 200px 0;

    .sec-title {
        max-width: 450px;
        padding-right: 50px
    }

    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 40px;
    }

    .btn {
        width: 354px;
        max-width: 100%;
    }

    @media (max-width: $large-devices) {
        padding: 50px 0 100px 0;

        p {
            font-size: 16px;
        }
    }

    @media (max-width: $extra-small) {
        padding: 25px 0 50px 0;

        .sec-title {
            padding-right: 0;
        }
    }
}

.pagination {
    .page-link {
        padding: .5rem 1.2rem;
        line-height: 1.25;
        color: #212529;
        background-color: #fff;
        border: 1px solid #dee2e6;
        font-family: 'DIN Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
    }

    .page-item.active .page-link {
        z-index: 1;
        color: #fff;
        background-color: #21c6a6;
        border-color: #21c6a6;
    }

    @media (max-width: 767px) {
        flex-wrap: wrap;

        .page-item {
            margin-bottom: 5px;
        }

        .page-link {
            padding: .5rem 1rem;
            font-size: 16px;
        }
    }
}

.slick-dots {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 20px auto 0 0;
    max-width: 1117px;

    // width: 100%;
    // position: absolute;
    // bottom: 20px;
    // padding: 0 20px;

    li {
        height: 4px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.05);
        position: relative;
        z-index: 2;

        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.15);
        }

        + li {
            margin-left: 10px;
        }

        button {
            display: none;
        }

        &.slick-active {
            background-color: $theme-color;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 100%;
            height: 800%;
            z-index: -1;
        }
    }

    @media (max-width: 1400px) {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: 991px) {
        display: none;
    }
}