html,
body {
    background: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    // background-image: url('../assets/img/logo.svg');
}

@media (min-width: 1320px) {
    .container {
        max-width: 1315px;
    }
}

.position-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border-radius: 0;
    font-family: 'DIN Condensed';
    letter-spacing: 0.15em;
    font-weight: bold;
    font-size: 22px;
    line-height: 135%;
    text-transform: uppercase;
    padding: 19px 50px;
}

.btn-success {
    color: #fff;
    background-color: $theme-color;
    border-color: $theme-color;

    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        color: #fff;
        background-color: desaturate($theme-color, 10%);
        border-color: desaturate($theme-color, 10%); 
    }

    &:not(:disabled):not(.disabled):active:focus, 
    &:not(:disabled):not(.disabled).active:focus {
        box-shadow: 0 0 0 0.2rem rgba(desaturate($theme-color, 10%), 0.5); 
    }
}

.sec-title,
.block-title {
    font-family: 'DIN Condensed';
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.font-size-60 {
    font-size: 60px;
    line-height: 130%;
}

.font-size-75 {
    font-size: 75px;
    line-height: 110%;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.03em;
}

.theme-color {
    color: $theme-color;
}

.theme-bg-color {
    background-color: $theme-color;
}

.bg-gradient-gray-yellow {
    background: linear-gradient(to right, $gray 50%, $yellow 50%);
}

.bg-gradient-blue-gray {
    background: linear-gradient(to right, $blue 50%, $gray 50%);
}