/* Device = Most of the Smartphones Mobiles (Portrait) */
$screen-xxs-min: 320px;
$screen-xxs-max: 480px;

/* Device = Low Resolution Tablets, Mobiles (Landscape) */
$screen-xs-min: 481px;
$screen-xs-max: 767px;

/* Device = Tablets, Ipads (portrait) */
$screen-sm-min: 768px;
$screen-sm-max: 1024px;

/* Device = Laptops, Desktops */
$screen-md-min: 1025px;
$screen-md-max: 1280px;

/* Device = Desktops */
$screen-lg-min: 1281px;
$screen-lg-max: 1440px;

/* Higher Resolution Screens */
$screen-xlg-min: 1441px;
$screen-xlg-max: 2560px;

// ========================================================
// bootstrap media 
// ========================================================

// Extra small devices (portrait phones, less than 576px)
$extra-small: 575.98px;
// Small devices (landscape phones, less than 768px)
$small-devices: 767.98px;
// Medium devices (tablets, less than 992px)
$medium-devices: 991.98px;
// Large devices (desktops, less than 1200px)
$large-devices: 1199.98px;

// ========================================================
// fonts
// ========================================================

$font-family-playfair: 'Playfair Display', serif;

$font-weight-thin:          100;
$font-weight-exlight:       200;
$font-weight-light:         300;
$font-weight-regular:       400;
$font-weight-medium:        500;
$font-weight-semibold:      600;
$font-weight-bold:          700;
$font-weight-exbold:        800;
$font-weight-black:         900;

// ========================================================
// colors
// ========================================================

$theme-color: #21C6A6; //green
$gray: #F9F9F9; 
$yellow: #FFC641; 
$blue: #6CC5D7; 
$green: #53BF82;
$purple: #8478B8;