.sec-banner {
    padding-bottom: 90px;
    
    .sec-title {
        font-size: 87px;
        line-height: 140%;
        letter-spacing: .1px;
    }

    &--paragraph {
        letter-spacing: 0.06em;
        max-width: 538px;
    }

    &--links {
        font-family: 'DIN Condensed';
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 135%;
        letter-spacing: 0.15em;
        color: $theme-color;

        &:hover {
            color: inherit;
        }
    }

    @media(max-width: 1319px) {
        .sec-title {
            font-size: 79px;
        }
    }

    @media(max-width: $large-devices) {
        .sec-title {
            font-size: 65px;
        }
    }
    
    @media(max-width: $small-devices) {
        padding-bottom: 50px;

        &--links {
            font-size: 18px;
        }
    }

    @media(max-width: $screen-xs-max) {
        .sec-title {
            font-size: 46px;
        }
    }
}