.sec-you-get {
    padding: 90px 0;

    .sec-title {
        font-size: 75px;
        line-height: 110%;
    }

    &--text-block {
        &:not(:first-of-type) {
            margin-top: 70px;
        }

        .block-title {
            font-size: 28px;
            line-height: 110%;
            margin-bottom: 40px;
        }

        p {
            font-size: 18px; 
            line-height: 150%;
        }
    }

    @media(max-width: 1319px) {
        .sec-title {
            font-size: 65px;
        }
    }

    @media(max-width: $large-devices) {
        .sec-title {
            font-size: 60px;
        }
    }

    @media(max-width: $small-devices) {
        padding: 50px 0 10px;

        .sec-title {
            font-size: 39px;
        }

        &--text-block {
            &:not(:first-of-type) {
                margin-top: 0px;
            }

            .block-title {
                margin-bottom: 15px;
            }

            p {
                font-size: 16px;
                margin-bottom: 40px;
            }
        }
    }
}