.sec-help {
    padding: 90px 0 99px;

    .sec-title {
        max-width: 538px;
        font-size: 75px;
        line-height: 110%;
        margin-bottom: 30px;
    }

    &--item__title {
        font-size: 28px;
        line-height: 110%;
        margin-bottom: 30px;
    }

    &--item__img {
        margin-bottom: 30px;
    }

    &--item__paragraph {
        margin: 0;
    }

    @media(max-width: $large-devices) {
        .sec-title {
            font-size: 60px;
        }
    }

    @media(max-width: $small-devices) {
        padding: 50px 0 20px;

        .sec-title {
            font-size: 40px;
        }

        &--item__img {
            margin-bottom: 20px;
            margin-right: 30px;
            max-width: 60px;
        }

         &--item__title {
            font-size: 25px;
            margin-bottom: 15px;
        }

        &--item__paragraph {
            margin-bottom: 30px;
        }

        &--item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            
        }
    }
}