.sec-try-now {
    &--row {
        padding: 100px 0;
        min-height: 758px;
        display: flex;
        align-items: center;
    }

    .sec-title {
        font-size: 60px;
        line-height: 110%;
    }

    &--paragraph {
        font-size: 18px;
        line-height: 150%;
        max-width: 407px;
    }

    &--list {
        list-style: decimal-leading-zero;
        font-family: 'DIN Condensed';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 110%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #21C6A6;
        margin: 40px 0;
        margin-left: 15px;

        li {
            margin-bottom: 30px;
        }

        span {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.03em;
            color: #000000;
            text-transform: initial;
        }
    }

    &--text-block {
        max-width: 490px;
    }

    &--btn {
        width: 426px;
    }

    &--img-wrapp {
        &.first {
            padding-left: 180px;
        }

        &.second {
            padding-right: 180px;
        }
    }

    @media (max-width: 1500px) {
        &--img-wrapp {
            &.first {
                padding-left: 50px;
            }

            &.second {
                padding-right: 50px;
            }
        }
    }

    @media(max-width: $large-devices) {
        &--img-wrapp {
            img {
                max-width: 430px;
            }
        }
    }

    @media (max-width: $medium-devices) {
        &--img-wrapp {
            position: initial;
            transform: none;

            &.first {
                padding-left: 0px;
            }

            &.second {
                padding-right: 0px;
            }

            img {
                width: 100%;
            }
        }

        &--list {
            margin-left: 0;
        }
    }

    @media(max-width: $small-devices) {
        background-color: $gray;

        .sec-title {
            font-size: 40px;
        }

        &--paragraph {
            font-size: 16px;
        }

        &--text-block {
            max-width: 100%;
        }

        &--row {
            padding: 0 0 50px;
            background: none !important;
            min-height: 0;
        }

        &--img-wrapp {
            padding: 50px 0;
            position: relative;
            top: initial;
            left: initial;
            z-index: 2;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 100%;
                width: 100vw;
                display: block;
                z-index: -1;
            }

            &.first {
                &::before {
                    background-color: $yellow;
                }
            }

            &.second {
                &::before {
                    background-color: $blue;
                }
            }
        }
    }
}