.sec-free-trial {
    padding: 90px 0;

    .sec-title {
        font-size: 48px;
        line-height: 160%;
        margin-bottom: 40px;
        color: #fff;
    }

    .btn {
        max-width: 354px;
        width: 100%;
    }
}