.sec-free-trial {
    padding: 90px 0;

    .sec-title {
        font-size: 48px;
        line-height: 160%;
        margin-bottom: 40px;
        color: #fff;
    }

    .btn {
        max-width: 354px;
        width: 100%;
    }

    @media(max-width: 1319px) {
        .sec-title {
            br {
                display: none;
            }
        }
    }

    @media(max-width: $large-devices) {
        .sec-title {
            font-size: 40px;
            line-height: 150%;
        }
    }

    @media(max-width: $small-devices) {
        padding: 50px 0;

        .sec-title {
            font-size: 30px;
            line-height: 130%;
        }
    }
}